<?xml version="1.0" ?>
<robot name="rosbot_robot">
    <webots>
        <!-- Get sensor data from Webots in ROS -->

        <!-- Lidar Device -->
        <device reference="laser" type="Lidar">
            <ros>
                <enabled>true</enabled>
                <updateRate>5</updateRate>
                <topicName>/webots/rosbot/laser</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>LDS-01</frameName>
            </ros>
        </device>

        <!-- Compass Device -->
        <device reference="imu compass" type="Compass">
            <ros>
                <enabled>true</enabled>
                <updateRate>5</updateRate>
                <topicName>/webots/rosbot/compass</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>compass</frameName>
            </ros>
        </device>

        <!-- IMU device -->
        <!-- <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>true</enabled>
            <updateRate>20</updateRate>
            <topicName>/webots/rosbot/imu</topicName>
            <alwaysOn>true</alwaysOn>
            <frameName>imu_link</frameName>
            <inertialUnitName>inertial_unit</inertialUnitName>
            <gyroName>gyro</gyroName>
            <accelerometerName>accelerometer</accelerometerName>
        </plugin> -->


        <!-- Connect Robot Driver Node from ROS to Webots -->
        <plugin type = "ros2webots_rosbot.rosbot_robot_driver.RosBotWebotsDriver" />
    </webots>
</robot>